Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest, mypy

flake8:
  name: flake8
  entry: flake8
  language: system

pytest:
  name: pytest
  args:
  - --timeout=30
  - --cov=pytradfri
  - --cov-report=html
  stages:
  - push
  - manual
  entry: pytest
  language: system

mypy:
  name: mypy
  entry: ./script/run-pre-commit.sh mypy
  language: script
  require_serial: true

Add test
  .coveragerc
  tests/test_light.py
Due: flake8, pytest

Add combine commands to light control (#512)
  .coveragerc
  pytradfri/device/light_control.py
  tests/test_light.py
Due: flake8, pytest, mypy

Remove support for Python 3.8
  .github/workflows/pre-commit-update.yml
  .github/workflows/test.yml
  mypy.ini
  pyproject.toml
  setup.py
  tox.ini
Due: none

Remove support for Python 3.8 (#513)
  .github/workflows/pre-commit-update.yml
  .github/workflows/test.yml
  mypy.ini
  pyproject.toml
  setup.py
  tox.ini
Due: none

Fix remaining pylint issues
  pyproject.toml
  pytradfri/__main__.py
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/color.py
  pytradfri/device/__init__.py
  pytradfri/device/base_controller.py
  pytradfri/device/light_control.py
  pytradfri/group.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  pytradfri/util.py
Due: flake8, mypy

Add pylint to tox lint
  tox.ini
Due: none

Add pylint to test requirements
  requirements_test.txt
Due: none

Add pylint disable comment
  pyproject.toml
Due: none

Address remaining pylint issues in pytradfri (#514)
  pyproject.toml
  pytradfri/__main__.py
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/color.py
  pytradfri/device/__init__.py
  pytradfri/device/base_controller.py
  pytradfri/device/light_control.py
  pytradfri/group.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  pytradfri/util.py
  requirements_test.txt
  tox.ini
Due: flake8, mypy

Clean lint settings
  pyproject.toml
  pytradfri/__main__.py
  setup.cfg
Due: flake8, mypy

Clean lint settings (#515)
  pyproject.toml
  pytradfri/__main__.py
  setup.cfg
Due: flake8, mypy

Fix example_sync
  examples/example_sync.py
Due: flake8

Fix example_async
  examples/example_async.py
Due: flake8

Fix example_pair
  examples/example_pair.py
Due: flake8

Add sync api request protocol
  pytradfri/api/libcoap_api.py
Due: flake8, mypy

Fix example_socket_async
  examples/example_socket_async.py
Due: flake8

Fix debug_info
  examples/debug_info.py
  tox.ini
Due: flake8

Fix example_air_purifier_async
  examples/example_air_purifier_async.py
Due: flake8

Fix example_color
  examples/example_color.py
Due: flake8

Fix example_cover_async
  examples/example_cover_async.py
Due: flake8

Update examples/debug_info.py
  examples/debug_info.py
Due: flake8

Apply suggestions from code review
  examples/debug_info.py
Due: flake8

Remove the color example
  examples/example_color.py
Due: flake8

Add back some pylint disables
  pyproject.toml
Due: none

Solve pylint issues in examples (#516)
  examples/debug_info.py
  examples/example_air_purifier_async.py
  examples/example_async.py
  examples/example_color.py
  examples/example_cover_async.py
  examples/example_pair.py
  examples/example_socket_async.py
  examples/example_sync.py
  pyproject.toml
  pytradfri/api/libcoap_api.py
  tox.ini
Due: flake8, mypy

Fix test_light
  tests/test_light.py
Due: flake8, pytest

Fix test_blinds
  tests/test_blinds.py
Due: flake8, pytest

Fix test_mood
  tests/test_mood.py
Due: flake8, pytest

Fix test_util
  tests/test_util.py
Due: flake8, pytest

Fix test_command
  tests/test_command.py
Due: flake8, pytest

Fix test_group
  tests/test_group.py
Due: flake8, pytest

Fix test_device
  tests/test_device.py
Due: flake8, pytest

Fix test_air_purifiers
  tests/test_air_purifiers.py
Due: flake8, pytest

Lint tests
  tox.ini
Due: none

Fix test_aiocoap_api
  tests/api/test_aiocoap_api.py
Due: flake8, pytest

Fix test_gateway
  tests/test_gateway.py
Due: flake8, pytest

Solve pylint issues in tests (#517)
  tests/api/test_aiocoap_api.py
  tests/test_air_purifiers.py
  tests/test_blinds.py
  tests/test_command.py
  tests/test_device.py
  tests/test_gateway.py
  tests/test_group.py
  tests/test_light.py
  tests/test_mood.py
  tests/test_util.py
  tox.ini
Due: flake8, pytest

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Cleanup pre-commit
  .pre-commit-config.yaml
Due: none

Enable mypy for examples and tests
  tox.ini
Due: none

Path conditions:
  flake8: any of: ^(pytradfri|examples|tests)/.+\.py$ and \.py$
  pytest: any of: tests and \.py$
  mypy: any of: ^(pytradfri)/.+\.py$ and \.py$
