Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        additional_dependencies:
          - flake8-docstrings==1.6.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        stages: [manual]
# DO NOT ACTIVATE until all files have been manually updated.
        entry: pylint
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pytradfri
          - --cov-report=html
        stages: [push,manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./script/run-pre-commit.sh mypy
        language: script
        types: [python]
        require_serial: true
#        files: ^(pytradfri|examples|tests)/.+\.py$
# DO NOT ADD examples/tests until files have been updated.
        files: ^(pytradfri)/.+\.py$

Fix test
  tests/test_group.py
Due: pytest

Fix unwanted change
  pytradfri/group.py
Due: mypy

Fix some typing issues (#451)
  pytradfri/device/__init__.py
  pytradfri/device/light.py
  pytradfri/gateway.py
  pytradfri/group.py
  pytradfri/mood.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  tests/test_device.py
  tests/test_group.py
  tests/test_smart_task.py
Due: pytest, mypy

Apply suggestions from code review
  pytradfri/group.py
Due: mypy

Use command generics in aiocoap api (#450)
  pytradfri/api/aiocoap_api.py
  pytradfri/command.py
Due: mypy

Fix some typing issues (#451)
  pytradfri/device/__init__.py
  pytradfri/device/light.py
  pytradfri/gateway.py
  pytradfri/mood.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  tests/test_device.py
  tests/test_smart_task.py
Due: pytest, mypy

Update pytradfri/resource.py
  pytradfri/resource.py
Due: mypy

Simplify return
  pytradfri/group.py
Due: mypy

Remove import
  pytradfri/resource.py
Due: mypy

Minor type hint fixes
  pytradfri/device/__init__.py
Due: mypy

Simplify mypy.ini
  mypy.ini
Due: none

Add type hints for Group class (#447)
  mypy.ini
  pytradfri/group.py
  tests/test_group.py
Due: pytest, mypy

Minor type hint fixes (#452)
  pytradfri/device/__init__.py
Due: mypy

Type hint base_controller
  mypy.ini
  pytradfri/device/base_controller.py
Due: mypy

Inherit
  pytradfri/device/air_purifier.py
  pytradfri/device/base_controller.py
  pytradfri/device/blind.py
  pytradfri/device/light.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/socket.py
  pytradfri/resource.py
Due: mypy

Use Sequence
  pytradfri/device/base_controller.py
Due: mypy

Add type hints for util.py
  mypy.ini
  pytradfri/util.py
Due: mypy

Implement code review
  pytradfri/util.py
Due: mypy

Move BaseResponse
  pytradfri/device/air_purifier.py
  pytradfri/device/base_controller.py
  pytradfri/device/blind.py
  pytradfri/device/light.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/socket.py
  pytradfri/resource.py
Due: mypy

Add type hints for util.py (#455)
  mypy.ini
  pytradfri/util.py
Due: mypy

Type hint base controller (#454)
  mypy.ini
  pytradfri/device/air_purifier.py
  pytradfri/device/base_controller.py
  pytradfri/device/blind.py
  pytradfri/device/light.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/socket.py
  pytradfri/resource.py
Due: mypy

Add type hints StartActionItemController
  pytradfri/smart_task.py
Due: mypy

Fix typo
  pytradfri/smart_task.py
Due: mypy

Add type hints
  pytradfri/smart_task.py
Due: mypy

Convert to int
  pytradfri/smart_task.py
Due: mypy

Add type hints
  mypy.ini
  pytradfri/resource.py
  pytradfri/smart_task.py
Due: mypy

FIx test
  pytradfri/smart_task.py
  tests/test_smart_task.py
Due: pytest, mypy

Make transition time optional
  pytradfri/smart_task.py
Due: mypy

Implement calibration method
  pytradfri/smart_task.py
Due: mypy

Improve setter
  pytradfri/smart_task.py
Due: mypy

Remove setter
  pytradfri/smart_task.py
Due: mypy

Refactor
  pytradfri/smart_task.py
Due: mypy

Update pytradfri/smart_task.py
  pytradfri/smart_task.py
Due: mypy

Remove type annotation
  pytradfri/smart_task.py
Due: mypy

Fix?
  pytradfri/smart_task.py
Due: mypy

Remove type hints
  pytradfri/smart_task.py
Due: mypy

Add type hints to smart_task.py (#456)
  mypy.ini
  pytradfri/resource.py
  pytradfri/smart_task.py
  tests/test_smart_task.py
Due: pytest, mypy

Add gateway to mypy.ini
  mypy.ini
Due: none

Add gateway to mypy.ini (#460)
  mypy.ini
Due: none
