Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

pytest:
  name: pytest
  args:
  - --timeout=30
  - --cov=pytradfri
  - --cov-report=html
  stages:
  - push
  - manual
  entry: pytest
  language: system

mypy:
  name: mypy
  entry: ./script/run-pre-commit.sh mypy
  language: script
  require_serial: true

Add type hint
  pytradfri/device/socket_control.py
Due: mypy

Use constant
  tests/test_device.py
Due: pytest

Incorrect constant
  tests/test_device.py
Due: pytest

Implement pydantic for air purifier (#434)
  pytradfri/device/air_purifier.py
Due: mypy

Update pytradfri/device/socket_control.py
  pytradfri/device/socket_control.py
Due: mypy

Implement pydantic for lights
  pytradfri/device/__init__.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
Due: mypy

Put back unintended delete
  pytradfri/device/socket_control.py
Due: mypy

Add files to strict typing
  mypy.ini
Due: none

Add missing type hints
  pytradfri/device/air_purifier_control.py
Due: mypy

Implement pydantic for sockets (#435)
  mypy.ini
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  tests/test_device.py
Due: pytest, mypy

Save changes
  mypy.ini
  pytradfri/device/__init__.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
Due: mypy

Fix typing
  pytradfri/device/light.py
Due: mypy

Sort attributes
  pytradfri/device/light.py
Due: mypy

Strict typing of signal repeater
  mypy.ini
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
Due: mypy

Apply suggestions from code review
  pytradfri/device/light.py
Due: mypy

Update pytradfri/device/light_control.py
  pytradfri/device/light_control.py
Due: mypy

Type hint values
  pytradfri/device/light.py
  pytradfri/device/light_control.py
Due: mypy

Strict typing of signal repeater (#437)
  mypy.ini
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
Due: mypy

Use Mapping
  pytradfri/device/light_control.py
Due: mypy

Fix
  mypy.ini
Due: none

Check for None
  pytradfri/device/light.py
Due: mypy

Fix tests
  pytradfri/color.py
  pytradfri/device/light.py
  tests/test_color.py
  tests/test_device.py
Due: pytest, mypy

Apply suggestions from code review
  tests/test_color.py
Due: pytest

Remove deepcopy
  tests/test_device.py
Due: pytest

Black
  pytradfri/util.py
Due: mypy

Black tests
  tests/test_color.py
Due: pytest

Add Black target version settings
  pyproject.toml
Due: none

Save
  pytradfri/util.py
Due: mypy

Implement pydantic for lights (#436)
  mypy.ini
  pyproject.toml
  pytradfri/color.py
  pytradfri/device/__init__.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  tests/test_color.py
  tests/test_device.py
Due: pytest, mypy

Implement pydantic for signal repeater
  pytradfri/device/__init__.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  tests/devices.py
  tests/test_signal_repeater.py
Due: pytest, mypy

Typo
  pytradfri/device/signal_repeater.py
Due: mypy

Remove stale comment
  pytradfri/device/__init__.py
Due: mypy

Remove unused type hint constants
  pytradfri/resource.py
Due: mypy

Implement pydantic for signal repeater (#438)
  pytradfri/device/__init__.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  tests/devices.py
  tests/test_signal_repeater.py
Due: pytest, mypy

Remove unused type hint constants (#439)
  pytradfri/resource.py
Due: mypy

Add type hints for Gateway
  pytradfri/gateway.py
Due: mypy

Apply suggestions from code review
  .github/workflows/pythonpublish.yml
  .github/workflows/test.yml
Due: none

Type hint Gateway class
  pytradfri/gateway.py
Due: mypy

Fix incorrect type hint
  pytradfri/gateway.py
Due: mypy

Path conditions:
  pytest: any of: tests and \.py$
  mypy: any of: ^(pytradfri)/.+\.py$ and \.py$
