Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        additional_dependencies:
          - flake8-docstrings==1.6.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        stages: [manual]
# DO NOT ACTIVATE until all files have been manually updated.
        entry: pylint
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pytradfri
          - --cov-report=html
        stages: [push,manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./script/run-pre-commit.sh mypy
        language: script
        types: [python]
        require_serial: true
#        files: ^(pytradfri|examples|tests)/.+\.py$
# DO NOT ADD examples/tests until files have been updated.
        files: ^(pytradfri)/.+\.py$

Remove assert
  pytradfri/gateway.py
Due: mypy

Add missing hints
  pytradfri/gateway.py
Due: mypy

Update pytradfri/gateway.py
  pytradfri/gateway.py
Due: mypy

Change typing of process result
  pytradfri/command.py
Due: mypy

Fix typing
  pytradfri/command.py
  pytradfri/gateway.py
Due: mypy

Refactor example
  pytradfri/gateway.py
Due: mypy

Change
  pytradfri/command.py
Due: mypy

Type hint gateway (#442)
  pytradfri/command.py
  pytradfri/gateway.py
Due: mypy

Revert name change
  pytradfri/api/aiocoap_api.py
Due: mypy

Type aiocoap api
  mypy.ini
  pytradfri/api/aiocoap_api.py
  pytradfri/command.py
Due: mypy

Fix issues
  pytradfri/api/aiocoap_api.py
  pytradfri/command.py
Due: mypy

Fix light and socket set_state
  pytradfri/device/light_control.py
  pytradfri/device/socket_control.py
Due: mypy

Add type hints for GatewayInfo
  pytradfri/gateway.py
  tests/test_gateway.py
Due: pytest, mypy

Fix light and socket set_state (#443)
  pytradfri/device/light_control.py
  pytradfri/device/socket_control.py
Due: mypy

Type aiocoap api (#444)
  mypy.ini
  pytradfri/api/aiocoap_api.py
  pytradfri/command.py
Due: mypy

Change type hint
  pytradfri/gateway.py
Due: mypy

Fix typo
  pytradfri/gateway.py
Due: mypy

Another typo
  pytradfri/gateway.py
Due: mypy

Apply suggestions from code review
  pytradfri/gateway.py
Due: mypy

Add type hints for GatewayInfo (#445)
  pytradfri/gateway.py
  tests/test_gateway.py
Due: pytest, mypy

Type hint mood
  mypy.ini
  pytradfri/mood.py
Due: mypy

Update pytradfri/mood.py
  pytradfri/mood.py
Due: mypy

Add type hints for Groups
  pytradfri/group.py
Due: mypy

Force string
  pytradfri/mood.py
  tests/test_mood.py
Due: pytest, mypy

Add type hint
  pytradfri/group.py
  pytradfri/resource.py
  tests/test_group.py
Due: pytest, mypy

Fix
  mypy.ini
  pytradfri/group.py
Due: mypy

Fix
  pytradfri/group.py
Due: mypy

Make Command generic
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/command.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind_control.py
  pytradfri/device/light_control.py
  pytradfri/device/socket_control.py
  pytradfri/gateway.py
  pytradfri/resource.py
  tests/test_command.py
Due: pytest, mypy

Add missing types
  pytradfri/gateway.py
Due: mypy

Inherit from ApiResourceResponse
  pytradfri/group.py
Due: mypy

Apply suggestions from code review
  pytradfri/group.py
Due: mypy

Update tests/test_group.py
  tests/test_group.py
Due: pytest

Make Command generic (#448)
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/command.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind_control.py
  pytradfri/device/light_control.py
  pytradfri/device/socket_control.py
  pytradfri/gateway.py
  pytradfri/resource.py
  tests/test_command.py
Due: pytest, mypy

Add type hints for Mood class (#446)
  mypy.ini
  pytradfri/mood.py
  tests/test_mood.py
Due: pytest, mypy

Use command generics in aiocoap api
  pytradfri/api/aiocoap_api.py
  pytradfri/command.py
Due: mypy

Fix some typing issues
  pytradfri/device/__init__.py
  pytradfri/device/light.py
  pytradfri/gateway.py
  pytradfri/group.py
  pytradfri/mood.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  tests/test_device.py
  tests/test_group.py
  tests/test_smart_task.py
Due: pytest, mypy

Revert change
  pytradfri/resource.py
Due: mypy

Fix imports
  pytradfri/group.py
Due: mypy
