Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

pytest:
  name: pytest
  args:
  - --timeout=30
  - --cov=pytradfri
  - --cov-report=html
  stages:
  - push
  - manual
  entry: pytest
  language: system

mypy:
  name: mypy
  entry: ./script/run-pre-commit.sh mypy
  language: script
  require_serial: true

Add support for Ikea Starkvind air purifiers
  examples/example_air_purifier_async.py
  pytradfri/const.py
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  tests/devices.py
  tests/test_air_purifiers.py
Due: pytest, mypy

Apply suggestions from code review
  examples/example_air_purifier_async.py
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
Due: mypy

Lint fixes and explanation for state integer.
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
Due: mypy

Air Purifier: Split state integer into state boolean and mode integer; Fix typings
  examples/example_air_purifier_async.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  tests/test_air_purifiers.py
Due: pytest, mypy

Lint fixes
  pytradfri/device/air_purifier.py
Due: mypy

Update pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier.py
Due: mypy

Air Purifier: remove redundant state get and set, use mode
  examples/example_air_purifier_async.py
  pytradfri/const.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  tests/test_air_purifiers.py
Due: pytest, mypy

Air Purifier: Fan speed property documentation
  pytradfri/device/air_purifier.py
Due: mypy

Air Purifier: Added to README
  README.md
Due: none

Add support for Ikea Starkvind air purifiers (#362)
  README.md
  examples/example_air_purifier_async.py
  pytradfri/const.py
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  tests/devices.py
  tests/test_air_purifiers.py
Due: pytest, mypy

Bumb version to 7.0.8 (#358)
  pytradfri/VERSION
Due: none

Bump minor version
  pytradfri/VERSION
Due: none

Bumb version to 7.1.0 (#363)
  pytradfri/VERSION
Due: none

Add communication debug.
  pytradfri/api/aiocoap_api.py
Due: mypy

Final log.
  pytradfri/api/aiocoap_api.py
Due: mypy

Review comment.
  pytradfri/api/aiocoap_api.py
Due: mypy

Review comments.
  pytradfri/api/aiocoap_api.py
Due: mypy

Add communication debug (#367)
  pytradfri/api/aiocoap_api.py
Due: mypy

Force timeout of requests.
  pytradfri/api/aiocoap_api.py
Due: mypy

Force timeout of requests (#371)
  pytradfri/api/aiocoap_api.py
Due: mypy

Please pylint for api.
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
Due: mypy

Pylint for device.
  pytradfri/device/__init__.py
  pytradfri/device/base_controller.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/socket.py
Due: mypy

Review comments.
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
Due: mypy

Pylint for device. (#370)
  pytradfri/device/__init__.py
  pytradfri/device/base_controller.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/socket.py
Due: mypy

Please pylint for pytradfri/api (#369)
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
Due: mypy

Strict 3.
  mypy.ini
  pytradfri/device/__init__.py
  pytradfri/device/blind.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
Due: mypy

Bump version to 7.1.1
  pytradfri/VERSION
Due: none

Bump version to 7.1.1 (#372)
  pytradfri/VERSION
Due: none

Please pylint for pytradfri.
  pytradfri/color.py
  pytradfri/error.py
  pytradfri/gateway.py
  pytradfri/mood.py
  pytradfri/util.py
Due: mypy

Please pylint for pytradfri (part 1) (#373)
  pytradfri/color.py
  pytradfri/error.py
  pytradfri/gateway.py
  pytradfri/mood.py
  pytradfri/util.py
Due: mypy

Final pylint update for pytradfri/*.
  pytradfri/__main__.py
  pytradfri/api/aiocoap_api.py
  pytradfri/command.py
  pytradfri/group.py
  pytradfri/resource.py
  pytradfri/smart_task.py
Due: mypy

Review comments.
  pyproject.toml
  pytradfri/__main__.py
  pytradfri/api/libcoap_api.py
  pytradfri/smart_task.py
Due: mypy

Review comments.
  pytradfri/__main__.py
  pytradfri/command.py
  pytradfri/resource.py
Due: mypy

Review comments.
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/resource.py
Due: mypy

Review comments.
  pytradfri/__main__.py
Due: mypy

Final pylint update for pytradfri/* (#374)
  pyproject.toml
  pytradfri/__main__.py
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/command.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/group.py
  pytradfri/resource.py
  pytradfri/smart_task.py
Due: mypy

Add timeout to async version.
  pytradfri/api/aiocoap_api.py
Due: mypy

Bump version.
  pytradfri/VERSION
Due: none

Add timeout to async version (#378)
  pytradfri/api/aiocoap_api.py
Due: mypy

Path conditions:
  pytest: any of: tests and \.py$
  mypy: any of: ^(pytradfri)/.+\.py$ and \.py$
