Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

pytest:
  name: pytest
  args:
  - --timeout=30
  - --cov=pytradfri
  - --cov-report=html
  stages:
  - push
  - manual
  entry: pytest
  language: system

mypy:
  name: mypy
  entry: ./script/run-pre-commit.sh mypy
  language: script
  require_serial: true

Fix typing error in libcoap_api
  pytradfri/api/libcoap_api.py
Due: mypy

Bump version to 10.0.1
  pytradfri/VERSION
Due: none

Fix typing error in libcoap_api (#476)
  pytradfri/api/libcoap_api.py
Due: mypy

Bump version to 10.0.1 (#477)
  pytradfri/VERSION
Due: none

Clarify meaning of filter_status property
  pytradfri/device/air_purifier.py
  tests/test_air_purifiers.py
Due: pytest, mypy

Fix typo
  pytradfri/device/air_purifier.py
Due: mypy

Add line
  pytradfri/device/air_purifier.py
Due: mypy

Clarify meaning of filter_status property (#480)
  pytradfri/device/air_purifier.py
  tests/test_air_purifiers.py
Due: pytest, mypy

Bump version to 11.0.0
  pytradfri/VERSION
Due: none

Bump version to 11.0.0 (#481)
  pytradfri/VERSION
Due: none

Default to empty list
  .pre-commit-config.yaml
  pytradfri/smart_task.py
Due: mypy

Revert change
  .pre-commit-config.yaml
Due: none

Bump dependencies in pre-commit hooks
  .pre-commit-config.yaml
Due: none

Track updates of pre-commit hooks
  .github/workflows/pre-commit-update.yml
Due: none

Default root_start_action to empty list (#493)
  pytradfri/smart_task.py
Due: mypy

Bump dependencies in pre-commit hooks (#494)
  .pre-commit-config.yaml
Due: none

Update .github/workflows/pre-commit-update.yml
  .github/workflows/pre-commit-update.yml
Due: none

Pin semantic version
  .github/workflows/pre-commit-update.yml
Due: none

Track updates of pre-commit hooks (#495)
  .github/workflows/pre-commit-update.yml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Change repo to Github from Gitlab for pre-commit flake8
  .pre-commit-config.yaml
Due: none

Change repo to Github from Gitlab for pre-commit flake8 (#505)
  .pre-commit-config.yaml
Due: none

Sort requirements test
  requirements_test.txt
Due: none

Allow pydantic during pylint
  pyproject.toml
Due: none

Sort requirements test (#507)
  requirements_test.txt
Due: none

Move pre-commit flake8 to local repo
  .pre-commit-config.yaml
Due: none

Allow pydantic during pylint (#508)
  pyproject.toml
Due: none

Move pre-commit flake8 to local repo (#509)
  .pre-commit-config.yaml
Due: none

Add APIRequestProtocol
  pytradfri/api/aiocoap_api.py
Due: mypy

Add APIRequestProtocol for APIfactory.request (#510)
  pytradfri/api/aiocoap_api.py
Due: mypy

Update light example
  examples/example_color.py
Due: none

Add tests
  tests/test_light.py
Due: pytest

Rework light features
  pytradfri/color.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
Due: mypy

Rework light supported features (#511)
  examples/example_color.py
  pytradfri/color.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  tests/test_light.py
Due: pytest, mypy

Add combine command to light control
  pytradfri/device/light_control.py
Due: mypy

Path conditions:
  pytest: any of: tests and \.py$
  mypy: any of: ^(pytradfri)/.+\.py$ and \.py$
