Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=master
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pytradfri
          - --cov-report=html
        stages: [pre-push, manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
      - id: mypy
        name: mypy
        entry: ./script/run-pre-commit.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(pytradfri|examples|tests)/.+\.py$
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix pylint issues
  pytradfri/__main__.py
Due: mypy, pylint

Fix pylint issues (#1113)
  pytradfri/__main__.py
Due: mypy, pylint

Update libcoap repository URL in install script
  script/install-coap-client.sh
Due: none

Run black
  examples/debug_info.py
Due: mypy, pylint

Support Python 3.14
  .github/workflows/test.yml
  setup.py
  tox.ini
Due: none

Bump pydantic to 2.12.5
  requirements.txt
Due: none

Bump pydantic to 2.12.5 (#1138)
  requirements.txt
Due: none

Support Python 3.14 (#1125)
  .github/workflows/test.yml
  setup.py
  tox.ini
Due: none

Clean linting config
  .pre-commit-config.yaml
  pyproject.toml
  requirements_test.txt
  tox.ini
Due: none

Clean linting config (#1146)
  .pre-commit-config.yaml
  pyproject.toml
  requirements_test.txt
  tox.ini
Due: none

Use dependabot to update pre-commit-config
  .github/dependabot.yml
Due: none

Remove workflow to update pre-commit-config
  .github/workflows/pre-commit-update.yml
Due: none

Use dependabot to update pre-commit-config (#1150)
  .github/dependabot.yml
  .github/workflows/pre-commit-update.yml
Due: none

Fix dependabot group updates
  .github/dependabot.yml
Due: none

Fix dependabot group updates (#1153)
  .github/dependabot.yml
Due: none

Add the Open Home Foundation AI Policy
  AI_POLICY.md
Due: none

Add the Open Home Foundation AI Policy (#1202)
  AI_POLICY.md
Due: none

Allow device controls to report no values
  pytradfri/device/air_purifier.py
  pytradfri/device/blind.py
  pytradfri/device/light.py
  pytradfri/device/socket.py
  tests/test_device.py
Due: pytest, mypy, pylint
