Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        name: flake8
        stages: [manual]
# DO NOT ACTIVATE until all files have been manually updated.
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort
        stages: [manual]
# DO NOT ACTIVATE until PR 340 have been merged.
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        stages: [manual]
# DO NOT ACTIVATE until all files have been manually updated.
        entry: pylint
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pytradfri
          - --cov-report=html
        stages: [push,manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./script/run-pre-commit.sh mypy
        language: script
        types: [python]
        require_serial: true
#        files: ^(pytradfri|examples|tests)/.+\.py$
# DO NOT ADD examples/tests until files have been updated.
        files: ^(pytradfri)/.+\.py$

Add .pre-commit hooks (#339)
  .pre-commit-config.yaml
  pyproject.toml
  requirements_test.txt
  script/run-pre-commit.sh
  setup.cfg
Due: none

Solve black formatting of command.py.
  pytradfri/command.py
Due: mypy

Update tool setup.
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Due: none

Update pre-commit to 2.14.1.
  requirements_test.txt
Due: none

Update pre-commit to 2.14.1 (#342)
  requirements_test.txt
Due: none

Update tests/api/test_aiocoap_api.py
  tests/api/test_aiocoap_api.py
Due: pytest

Update tests/moods.py
  tests/moods.py
Due: pytest

Update tests/test_device.py
  tests/test_device.py
Due: pytest

Update tools.
  setup.cfg
Due: none

Please flake8
  examples/debug_info.py
  examples/example_async.py
  examples/example_color.py
  examples/example_cover_async.py
  examples/example_pair.py
  examples/example_socket_async.py
  examples/example_sync.py
  pytradfri/__main__.py
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/command.py
  pytradfri/device/__init__.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/controller.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/error.py
  pytradfri/gateway.py
  pytradfri/group.py
  pytradfri/mood.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  pytradfri/util.py
  tests/api/test_libcoap_api.py
  tests/devices.py
  tests/moods.py
  tests/test_command.py
  tests/test_device.py
  tests/test_util.py
Due: pytest, mypy

Update pytradfri/device/__init__.py
  pytradfri/device/__init__.py
Due: mypy

Update pytradfri/gateway.py
  pytradfri/gateway.py
Due: mypy

Clean flake8 lint warnings (#343)
  examples/debug_info.py
  examples/example_async.py
  examples/example_color.py
  examples/example_cover_async.py
  examples/example_pair.py
  examples/example_socket_async.py
  examples/example_sync.py
  pytradfri/__main__.py
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/command.py
  pytradfri/device/__init__.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/controller.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/error.py
  pytradfri/gateway.py
  pytradfri/group.py
  pytradfri/mood.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  pytradfri/util.py
  setup.cfg
  tests/api/test_libcoap_api.py
  tests/devices.py
  tests/moods.py
  tests/test_command.py
  tests/test_device.py
  tests/test_util.py
Due: pytest, mypy

Strict part 2.
  mypy.ini
  pytradfri/device/__init__.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/controller.py
  pytradfri/resource.py
Due: mypy

Review comments.
  pytradfri/resource.py
Due: mypy

Please tox py38.
  pytradfri/device/__init__.py
  pytradfri/resource.py
Due: mypy

Add strict typing part 2 (#347)
  mypy.ini
  pytradfri/device/__init__.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/controller.py
  pytradfri/resource.py
Due: mypy

Import path relative.
  pytradfri/device/__init__.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/gateway.py
Due: mypy

Use relative import paths for package (#348)
  pytradfri/device/__init__.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/gateway.py
Due: mypy

Make base controller.
  pytradfri/device/base_controller.py
  pytradfri/device/blind_control.py
  pytradfri/device/controller.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket_control.py
Due: mypy

Review comments.
  pytradfri/device/base_controller.py
Due: mypy

Change controller to base_controller (#352)
  pytradfri/device/base_controller.py
  pytradfri/device/blind_control.py
  pytradfri/device/controller.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket_control.py
Due: mypy

bump flake8==4.0.0 and pycodestyle=2.8.0.
  requirements_test.txt
Due: none

pyflakes==2.4.8.
  requirements_test.txt
Due: none

Review comments.
  .pre-commit-config.yaml
  requirements_test.txt
Due: none

Cannot bump flake8.
  requirements_test.txt
Due: none

Remove flake8 plugins (#357)
  .pre-commit-config.yaml
  requirements_test.txt
Due: none

Bumb version to 7.0.7
  pytradfri/VERSION
Due: none

Bump flake8 to 4.0.1
  requirements_test.txt
Due: none

Bump flake8 to 4.0.1 (#359)
  requirements_test.txt
Due: none

Bumb version to 7.0.7 (#358)
  pytradfri/VERSION
Due: none

Add coverage dependency.
  requirements_test.txt
  tox.ini
Due: none

Please CI.
  tox.ini
Due: none

Activate coverage (#360)
  requirements_test.txt
  tox.ini
Due: none

Remove coveralls.
  README.md
  requirements_test.txt
Due: none

Remove coveralls (#361)
  README.md
  requirements_test.txt
Due: none
