Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: requirements-txt-fixer
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=master
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pytradfri
          - --cov-report=html
        stages: [push, manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
      - id: mypy
        name: mypy
        entry: ./script/run-pre-commit.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(pytradfri|examples|tests)/.+\.py$
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump pydantic to 2.10.4
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/blind.py
  pytradfri/device/light.py
  pytradfri/device/socket.py
  pytradfri/gateway.py
  pytradfri/group.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  requirements.txt
Due: mypy, pylint

Bump pydantic to 2.10.4 from 1.10.19 (#970)
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/blind.py
  pytradfri/device/light.py
  pytradfri/device/socket.py
  pytradfri/gateway.py
  pytradfri/group.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  requirements.txt
Due: mypy, pylint

Bump version to 14.0.0
  pytradfri/VERSION
Due: none

Bump version to 14.0.0 (#990)
  pytradfri/VERSION
Due: none

Fix id typing
  pytradfri/gateway.py
  pytradfri/group.py
  tests/test_gateway.py
Due: pytest, mypy, pylint

Fix pair example
  examples/example_pair.py
Due: mypy, pylint

Fix id typing (#991)
  examples/example_pair.py
  pytradfri/gateway.py
  pytradfri/group.py
  tests/test_gateway.py
Due: pytest, mypy, pylint

Replace deprecated datetime.utcfromtimestamp
  pytradfri/device/__init__.py
  pytradfri/gateway.py
  pytradfri/resource.py
  tests/test_device.py
  tests/test_gateway.py
Due: pytest, mypy, pylint

Support Python 3.12 and 3.13
  .github/workflows/test.yml
  setup.py
  tox.ini
Due: none

Cache pip deps in CI
  .github/workflows/test.yml
Due: none

Cache pip deps in CI (#994)
  .github/workflows/test.yml
Due: none

Replace deprecated datetime.utcfromtimestamp (#992)
  pytradfri/device/__init__.py
  pytradfri/gateway.py
  pytradfri/resource.py
  tests/test_device.py
  tests/test_gateway.py
Due: pytest, mypy, pylint

Support Python 3.12 and 3.13 (#993)
  .github/workflows/test.yml
  setup.py
  tox.ini
Due: none

Fix typing test_light
  tests/test_light.py
Due: pytest, mypy, pylint

Type test_color
  tests/test_color.py
Due: pytest, mypy, pylint

Type test_command
  tests/test_command.py
Due: pytest, mypy, pylint

Type test_socket
  tests/test_socket.py
Due: pytest, mypy, pylint

Type test_signal_repeater
  tests/test_signal_repeater.py
Due: pytest, mypy, pylint

Type test_mood
  tests/test_mood.py
Due: pytest, mypy, pylint

Type api
  tests/api/test_aiocoap_api.py
  tests/api/test_libcoap_api.py
Due: pytest, mypy, pylint

Type test_gateway
  tests/test_gateway.py
Due: pytest, mypy, pylint

Type test_light
  tests/test_light.py
Due: pytest, mypy, pylint

Type test_smart_task
  tests/test_smart_task.py
Due: pytest, mypy, pylint

Fix typing test_command
  tests/test_command.py
Due: pytest, mypy, pylint

Type test_util
  tests/test_util.py
Due: pytest, mypy, pylint

Update ruff settings
  pyproject.toml
Due: none

Type test_device
  tests/test_device.py
Due: pytest, mypy, pylint

Fix typing test api
  tests/api/test_aiocoap_api.py
Due: pytest, mypy, pylint

Add missing return typing
  pytradfri/api/aiocoap_api.py
  pytradfri/smart_task.py
Due: mypy, pylint

Add missing type annotations (#995)
  pyproject.toml
  pytradfri/api/aiocoap_api.py
  pytradfri/smart_task.py
  tests/api/test_aiocoap_api.py
  tests/api/test_libcoap_api.py
  tests/test_color.py
  tests/test_command.py
  tests/test_device.py
  tests/test_gateway.py
  tests/test_light.py
  tests/test_mood.py
  tests/test_signal_repeater.py
  tests/test_smart_task.py
  tests/test_socket.py
  tests/test_util.py
Due: pytest, mypy, pylint

Move blind fixture and complete blind tests
  tests/common.py
  tests/devices.py
  tests/fixtures/blind.json
  tests/test_blinds.py
  tests/test_device.py
Due: pytest, mypy, pylint

Move blind fixture and complete blind tests (#996)
  tests/common.py
  tests/devices.py
  tests/fixtures/blind.json
  tests/test_blinds.py
  tests/test_device.py
Due: pytest, mypy, pylint
