Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        additional_dependencies:
          - flake8-docstrings==1.6.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        stages: [manual]
# DO NOT ACTIVATE until all files have been manually updated.
        entry: pylint
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pytradfri
          - --cov-report=html
        stages: [push,manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./script/run-pre-commit.sh mypy
        language: script
        types: [python]
        require_serial: true
#        files: ^(pytradfri|examples|tests)/.+\.py$
# DO NOT ADD examples/tests until files have been updated.
        files: ^(pytradfri)/.+\.py$

Add pydantic to requirements
  mypy.ini
  requirements.txt
Due: none

Add install_requires
  setup.py
Due: none

Add pydantic to requirements (#428)
  mypy.ini
  requirements.txt
  setup.py
Due: none

Implement pydantic
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/resource.py
  pytradfri/type_hint.py
  pytradfri/typing.py
Due: mypy

Save current state
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/light.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/resource.py
  pytradfri/type_hint.py
Due: mypy

Implement more models, fix tests
  pytradfri/color.py
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/blind.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  tests/devices.py
  tests/test_color.py
  tests/test_device.py
  tests/test_light.py
Due: pytest, mypy

Apply suggestions from code review
  pytradfri/resource.py
Due: mypy

Fix after review
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/resource.py
  tests/test_socket.py
Due: pytest, mypy

Fix requirements in tox
  tox.ini
Due: none

Fix failing test
  tests/test_socket.py
Due: pytest

Rollback color.py
  pytradfri/color.py
Due: mypy

Rollback smart task
  pytradfri/smart_task.py
Due: mypy

Rollback tests
  tests/devices.py
  tests/test_color.py
  tests/test_device.py
  tests/test_light.py
  tests/test_socket.py
Due: pytest

Rollback changes
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
Due: mypy

Update pytradfri/device/__init__.py
  pytradfri/device/__init__.py
Due: mypy

Implement suggested responses
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/resource.py
  pytradfri/typing.py
Due: mypy

Revert change
  pytradfri/device/air_purifier_control.py
Due: mypy

Revert change
  pytradfri/device/blind_control.py
Due: mypy

Revert change in blind.py
  pytradfri/device/blind.py
Due: mypy

Revert change in air_purifier.py
  pytradfri/device/air_purifier.py
Due: mypy

Fix raw properties
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
Due: mypy

Fix type errors
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket_control.py
Due: mypy

Final typing
  pytradfri/device/__init__.py
Due: mypy

Fix typo
  pytradfri/resource.py
Due: mypy

Implement suggested changes
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket_control.py
Due: mypy

Apply suggestions from code review
  pytradfri/device/__init__.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/resource.py
Due: mypy

Fix TypedDict import
  pytradfri/typing.py
Due: mypy

Clean optional
  pytradfri/device/__init__.py
Due: mypy

Clean up conditionals
  pytradfri/device/__init__.py
Due: mypy

Clean up type syntax
  pytradfri/device/light.py
  pytradfri/device/light_control.py
Due: mypy

Implement pydantic (#429)
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/device/light.py
  pytradfri/device/light_control.py
  pytradfri/device/signal_repeater.py
  pytradfri/device/signal_repeater_control.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  pytradfri/resource.py
  pytradfri/typing.py
  tox.ini
Due: mypy

Put response types in correct file
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/resource.py
  pytradfri/typing.py
Due: mypy

Review
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
Due: mypy

Move response types to their correct location (#432)
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  pytradfri/device/blind.py
  pytradfri/device/blind_control.py
  pytradfri/resource.py
  pytradfri/typing.py
Due: mypy

Implement pydantic for blind
  pytradfri/device/blind.py
Due: mypy

Implement pydantic for blind device (#433)
  pytradfri/device/blind.py
Due: mypy

Implement pydantic for air purifier
  pytradfri/device/air_purifier.py
Due: mypy

Sort
  pytradfri/device/air_purifier.py
Due: mypy

Implement pydantic for sockets
  pytradfri/device/__init__.py
  pytradfri/device/socket.py
  pytradfri/device/socket_control.py
  tests/test_device.py
Due: pytest, mypy
