Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

pytest:
  name: pytest
  args:
  - --timeout=30
  - --cov=pytradfri
  - --cov-report=html
  stages:
  - push
  - manual
  entry: pytest
  language: system

mypy:
  name: mypy
  entry: ./script/run-pre-commit.sh mypy
  language: script
  require_serial: true

Update pytradfri/device/__init__.py
  pytradfri/device/__init__.py
Due: mypy

Implement TypedDict
  pytradfri/device/__init__.py
  pytradfri/types.py
Due: mypy

Fix black error
  pytradfri/types.py
Due: mypy

Add missing information
  pytradfri/types.py
Due: mypy

Fix wrong type
  pytradfri/types.py
Due: mypy

Rename file
  pytradfri/device/__init__.py
  pytradfri/typing.py
Due: mypy

Drop constants
  pytradfri/device/__init__.py
Due: mypy

Make battery level optional
  pytradfri/device/__init__.py
Due: mypy

Move typing information
  pytradfri/device/__init__.py
  pytradfri/typing.py
Due: mypy

Drop support for Python 3.7, cleanup Dockerfiles
  .github/workflows/test.yml
  Dockerfile
  DockerfileRPI
  DockerfileRPIW
  DockerfileRPIW-installed
  setup.py
  tox.ini
Due: none

Update to Python 3.10
  Dockerfile
Due: none

Switch to 3.10
  DockerfileRPI
Due: none

Keep linting
  tox.ini
Due: none

Drop support for Python 3.7, cleanup Dockerfiles (#414)
  .github/workflows/test.yml
  Dockerfile
  DockerfileRPI
  DockerfileRPIW
  DockerfileRPIW-installed
  setup.py
  tox.ini
Due: none

Add typing for DeviceInfo class (#413)
  pytradfri/device/__init__.py
Due: mypy

Fixes for Black
  .pre-commit-config.yaml
  requirements_test.txt
Due: none

Format file
  pytradfri/util.py
Due: mypy

Add new properties
  pytradfri/const.py
  pytradfri/device/air_purifier.py
Due: mypy

Add more attribues
  pytradfri/const.py
  pytradfri/device/air_purifier.py
Due: mypy

Add Final annotation
  pytradfri/const.py
  pytradfri/device/air_purifier.py
Due: mypy

Add typing of AirPurifier class (#417)
  pytradfri/const.py
  pytradfri/device/air_purifier.py
Due: mypy

Fix type hints for Device class
  pytradfri/const.py
  pytradfri/device/__init__.py
Due: mypy

Add tests
  tests/test_air_purifiers.py
Due: pytest

Add units
  pytradfri/device/air_purifier.py
Due: mypy

Fix type hints for Device class (#418)
  pytradfri/const.py
  pytradfri/device/__init__.py
Due: mypy

Filter properties
  pytradfri/device/air_purifier.py
Due: mypy

Sort constants
  pytradfri/const.py
Due: mypy

Add attributes for the AirPurifier (#419)
  pytradfri/const.py
  pytradfri/device/air_purifier.py
  tests/test_air_purifiers.py
Due: pytest, mypy

Bump version to 8.1.0
  pytradfri/VERSION
Due: none

Bump major
  pytradfri/VERSION
Due: none

Bump version to 9.0.0 (#420)
  pytradfri/VERSION
Due: none

Add Final annotation to all constants
  pytradfri/const.py
Due: mypy

Add Final annotation to all constants (#425)
  pytradfri/const.py
Due: mypy

Add type annotation for Blind class
  pytradfri/device/blind.py
Due: mypy

Add type annotation for Blind class (#426)
  pytradfri/device/blind.py
Due: mypy

Refactor typeddict
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/blind.py
  pytradfri/resource.py
  pytradfri/typing.py
Due: mypy

Order A-Z
  pytradfri/typing.py
Due: mypy

Rename
  pytradfri/resource.py
  pytradfri/typing.py
Due: mypy

Fix names
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/blind.py
  pytradfri/typing.py
Due: mypy

Type hints for ApiResource (#427)
  pytradfri/device/__init__.py
  pytradfri/device/air_purifier.py
  pytradfri/device/blind.py
  pytradfri/resource.py
  pytradfri/typing.py
Due: mypy

Path conditions:
  pytest: any of: tests and \.py$
  mypy: any of: ^(pytradfri)/.+\.py$ and \.py$
