Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy, pylint, flake8

pytest:
  name: pytest
  args:
  - --timeout=30
  - --cov=pytradfri
  - --cov-report=html
  stages:
  - push
  - manual
  entry: pytest
  language: system

mypy:
  name: mypy
  entry: ./script/run-pre-commit.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Not all SmartTasks are for dimmers
  pytradfri/smart_task.py
Due: mypy, pylint, flake8

Adding set_repeat_days to SmartTask
  pytradfri/smart_task.py
Due: mypy, pylint, flake8

Adding an example for setting the SmartTask to repeat on every day of the week
  pytradfri/__main__.py
Due: mypy, pylint, flake8

Adding repeat_days constants
  pytradfri/const.py
Due: mypy, pylint, flake8

Adding onboarding helpers for sockets
  pytradfri/__main__.py
Due: mypy, pylint, flake8

Adding "lights" as an onboarding helper text
  pytradfri/__main__.py
Due: mypy, pylint, flake8

Test optional dimmer task response
  tests/test_smart_task.py
Due: pytest, mypy, pylint, flake8

Fix smart task start action response dimmer attribute (#614)
  pytradfri/smart_task.py
  tests/test_smart_task.py
Due: pytest, mypy, pylint, flake8

Bump version to 12.0.0
  pytradfri/VERSION
Due: none

Bump version to 12.0.0 (#620)
  pytradfri/VERSION
Due: none

Bump aiocoap to 0.4.5
  pytradfri/VERSION
  setup.py
Due: none

Bump aiocoap to 0.4.5 (#621)
  pytradfri/VERSION
  setup.py
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add Python 3.11 to CI/CD
  .github/workflows/test.yml
  setup.py
  tox.ini
Due: none

Add Python 3.11 to CI/CD pipeline (#626)
  .github/workflows/test.yml
  setup.py
  tox.ini
Due: none

Deprecate Python 3.9
  .github/workflows/pre-commit-update.yml
  .github/workflows/test.yml
  pyproject.toml
  setup.py
  tox.ini
Due: none

Bump version to 13.0.0
  pytradfri/VERSION
Due: none

Drop Python 3.9 (#627)
  .github/workflows/pre-commit-update.yml
  .github/workflows/test.yml
  pyproject.toml
  setup.py
  tox.ini
Due: none

Bump version to 13.0.0 (#628)
  pytradfri/VERSION
Due: none

Use Python 3.10 syntax type hints
  pytradfri/api/aiocoap_api.py
  pytradfri/device/__init__.py
  pytradfri/device/light.py
  pytradfri/gateway.py
  pytradfri/group.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  tests/api/test_aiocoap_api.py
Due: pytest, mypy, pylint, flake8

Remove filter consider-using-assignment-expr
  pyproject.toml
  pytradfri/__main__.py
  pytradfri/api/libcoap_api.py
  pytradfri/device/__init__.py
  pytradfri/resource.py
Due: mypy, pylint, flake8

Fix
  examples/debug_info.py
  examples/example_async.py
  examples/example_pair.py
  examples/example_sync.py
Due: mypy, pylint, flake8

Fix overgeneral-exceptions error
  pyproject.toml
Due: none

Fix overgeneral-exceptions error (#635)
  pyproject.toml
Due: none

Remove filter consider-using-assignment-expr (#634)
  examples/debug_info.py
  examples/example_async.py
  examples/example_pair.py
  examples/example_sync.py
  pyproject.toml
  pytradfri/__main__.py
  pytradfri/api/libcoap_api.py
  pytradfri/device/__init__.py
  pytradfri/resource.py
Due: mypy, pylint, flake8

Use Python 3.10 syntax (#633)
  pytradfri/api/aiocoap_api.py
  pytradfri/device/__init__.py
  pytradfri/device/light.py
  pytradfri/gateway.py
  pytradfri/group.py
  pytradfri/resource.py
  pytradfri/smart_task.py
  tests/api/test_aiocoap_api.py
Due: pytest, mypy, pylint, flake8

Use pytest-asyncio
  pyproject.toml
  requirements_test.txt
  tests/api/test_aiocoap_api.py
Due: pytest, mypy, pylint, flake8

Remove comment
  pyproject.toml
Due: none

Use pytest-asyncio (#637)
  pyproject.toml
  requirements_test.txt
  tests/api/test_aiocoap_api.py
Due: pytest, mypy, pylint, flake8

Add quotes to Python version in mypy config
  pyproject.toml
Due: none

Add quotes to Python version in mypy config (#638)
  pyproject.toml
Due: none

Add basic support for ruff
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/device/light_control.py
  pytradfri/resource.py
  pytradfri/util.py
  tox.ini
Due: mypy, pylint, flake8

Add isort to ruff and remove flake8 from pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  pytradfri/__main__.py
  pytradfri/api/aiocoap_api.py
  pytradfri/smart_task.py
  pytradfri/util.py
  tox.ini
Due: mypy, pylint, flake8

Sort A-Z
  pyproject.toml
Due: none

Run ruff on tests and examples
  tests/api/test_aiocoap_api.py
  tests/test_signal_repeater.py
  tests/test_util.py
Due: pytest, mypy, pylint, flake8

Run ruff on tests and examples 2
  examples/debug_info.py
  examples/example_pair.py
Due: mypy, pylint, flake8

Add ruff isort config
  examples/debug_info.py
  examples/example_pair.py
  pyproject.toml
  pytradfri/__main__.py
  pytradfri/api/aiocoap_api.py
  pytradfri/smart_task.py
  pytradfri/util.py
  tests/api/test_aiocoap_api.py
  tests/test_signal_repeater.py
  tests/test_util.py
Due: pytest, mypy, pylint, flake8

Add basic support for ruff (#646)
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/device/light_control.py
  pytradfri/resource.py
  pytradfri/util.py
  tox.ini
Due: mypy, pylint, flake8

Add more ruff rules
  pyproject.toml
Due: none

Path conditions:
  pytest: any of: tests and \.py$
  mypy: any of: ^(pytradfri|examples|tests)/.+\.py$ and \.py$
  pylint: any of: ^(pytradfri|examples|tests)/.+\.py$ and \.py$
  flake8: any of: ^(pytradfri|examples|tests)/.+\.py$ and \.py$
