Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: requirements-txt-fixer
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=master
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pytradfri
          - --cov-report=html
        stages: [push, manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
      - id: mypy
        name: mypy
        entry: ./script/run-pre-commit.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(pytradfri|examples|tests)/.+\.py$
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$

Cleanup pre-commit config (#527)
  .pre-commit-config.yaml
  tox.ini
Due: none

Add state control to SmartTask
  pytradfri/smart_task.py
Due: mypy, pylint, flake8

Add test
  tests/test_smart_task.py
Due: pytest, mypy, pylint, flake8

Fix typo
  tests/test_smart_task.py
Due: pytest, mypy, pylint, flake8

Apply suggestions from code review
  tests/test_smart_task.py
Due: pytest, mypy, pylint, flake8

Add state control to SmartTask (#531)
  pytradfri/smart_task.py
  tests/test_smart_task.py
Due: pytest, mypy, pylint, flake8

aiocoap: Adjust to subtle API change
  pytradfri/api/aiocoap_api.py
Due: mypy, pylint, flake8

Bump aiocoap to 0.4.4 in setup.py.EXTRAS_REQUIRE
  setup.py
Due: none

Move mypy config to pyproject.toml
  mypy.ini
  pyproject.toml
Due: none

Cleanup flake8 settings
  pytradfri/api/libcoap_api.py
  pytradfri/device/air_purifier_control.py
  pytradfri/gateway.py
  pytradfri/smart_task.py
  setup.cfg
  tests/test_air_purifiers.py
  tests/test_blinds.py
Due: pytest, mypy, pylint, flake8

Make flake8 ignore settings less lax (#544)
  pytradfri/api/libcoap_api.py
  pytradfri/device/air_purifier_control.py
  pytradfri/gateway.py
  pytradfri/smart_task.py
  setup.cfg
  tests/test_air_purifiers.py
  tests/test_blinds.py
Due: pytest, mypy, pylint, flake8

Bump aiocoap to 0.4.4 in setup.EXTRAS_REQUIRE (#542)
  setup.py
Due: none

Consistent formatting
  pyproject.toml
Due: none

Move mypy config to pyproject.toml (#543)
  mypy.ini
  pyproject.toml
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add alias argument
  pytradfri/gateway.py
Due: mypy, pylint, flake8

Pin github actions
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
Due: none

Pin github actions (#550)
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
Due: none

Cleanup readme
  README.md
Due: none

Small fix
  README.md
Due: none

Cleanup readme file (#555)
  README.md
Due: none

Improve containerized environment
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  script/bootstrap
  script/setup
Due: none

Improve containerized environment (#574)
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  script/bootstrap
  script/setup
Due: none

Remove if-clause
  pytradfri/resource.py
Due: mypy, pylint, flake8

Make callback argument optional
  pytradfri/resource.py
Due: mypy, pylint, flake8

Add breaking change category to release draft
  .github/release-drafter.yml
Due: none

Add breaking change category to release draft (#602)
  .github/release-drafter.yml
Due: none

Delint all examples
  examples/debug_info.py
  examples/example_air_purifier_async.py
  examples/example_async.py
  examples/example_cover_async.py
  examples/example_pair.py
  examples/example_socket_async.py
  examples/example_sync.py
Due: mypy, pylint, flake8

Update debug info script
  examples/debug_info.py
Due: mypy, pylint, flake8

Bump aiocoap to 0.4.5
  requirements.txt
  setup.py
Due: none

Bump version to 9.0.1
  pytradfri/VERSION
Due: none

Update debug info script and delint examples (#603)
  examples/debug_info.py
  examples/example_air_purifier_async.py
  examples/example_async.py
  examples/example_cover_async.py
  examples/example_pair.py
  examples/example_socket_async.py
  examples/example_sync.py
Due: mypy, pylint, flake8

Build all PRs regardless of target branch
  .github/workflows/test.yml
Due: none

Build all PRs regardless of target branch (#604)
  .github/workflows/test.yml
Due: none

Bump aiocoap to 0.4.5 for 9.x release (#605)
  pytradfri/VERSION
  requirements.txt
  setup.py
Due: none
