Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: requirements-txt-fixer
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=master
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pytradfri
          - --cov-report=html
        stages: [push, manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
      - id: mypy
        name: mypy
        entry: ./script/run-pre-commit.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(pytradfri|examples|tests)/.+\.py$
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Clean up and fix pylint config
  pyproject.toml
Due: none

Bump pre-commit black hook to 24.1.1
  .pre-commit-config.yaml
Due: none

Add test
  tests/devices.py
  tests/test_device.py
Due: pytest, mypy, pylint, flake8

Make device info firmware version optional
  pytradfri/device/__init__.py
Due: mypy, pylint, flake8

Make device info firmware version optional (#812)
  pytradfri/device/__init__.py
  tests/devices.py
  tests/test_device.py
Due: pytest, mypy, pylint, flake8

Add test
  tests/api/test_aiocoap_api.py
Due: pytest, mypy, pylint, flake8

Handle request while protocol is shutting down
  pytradfri/api/aiocoap_api.py
Due: mypy, pylint, flake8

Fix request while protocol context is shutting down (#814)
  pytradfri/api/aiocoap_api.py
  tests/api/test_aiocoap_api.py
Due: pytest, mypy, pylint, flake8

Reset protocol also on error during context shutdown
  pytradfri/api/aiocoap_api.py
Due: mypy, pylint, flake8

Fix reset protocol on error during context shutdown (#815)
  pytradfri/api/aiocoap_api.py
  tests/api/test_aiocoap_api.py
Due: pytest, mypy, pylint, flake8
