Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

pytest:
  name: pytest
  args:
  - --timeout=30
  - --cov=pytradfri
  - --cov-report=html
  stages:
  - push
  - manual
  entry: pytest
  language: system

mypy:
  name: mypy
  entry: ./script/run-pre-commit.sh mypy
  language: script
  require_serial: true

Bump version to 7.2.0 (#379)
  pytradfri/VERSION
Due: none

Update author.
  setup.py
Due: none

Update author. (#380)
  setup.py
Due: none

Add support for Python 3.10
  .github/workflows/test.yml
  setup.py
  tox.ini
Due: none

Add support for Python 3.10 (#382)
  .github/workflows/test.yml
  setup.py
  tox.ini
Due: none

Fix Light representation
  pytradfri/device/light.py
Due: mypy

Fix Light representation (#385)
  pytradfri/device/light.py
Due: mypy

Remove incorrect black config
  pyproject.toml
  tests/devices.py
Due: pytest

Clean up tests
  mypy.ini
  tests/api/__init__.py
  tests/test_device.py
Due: pytest

Type aiocoap api
  mypy.ini
  pytradfri/api/aiocoap_api.py
  pytradfri/command.py
  pytradfri/gateway.py
Due: mypy

Revert name change
  pytradfri/api/aiocoap_api.py
Due: mypy

Fix black (#386)
  pyproject.toml
  tests/devices.py
Due: pytest

Clean and fix tests (#387)
  mypy.ini
  tests/api/__init__.py
  tests/test_device.py
Due: pytest

Use TimeoutError instead of RequestTimedOut
  pytradfri/api/aiocoap_api.py
Due: mypy

Bump extras aiocoap to 0.4.3
  setup.py
Due: none

Bump version to 7.2.1
  pytradfri/VERSION
Due: none

fix if-expression for user-id check
  script/install-coap-client.sh
Due: none

fix if-expression for user-id check (#398)
  script/install-coap-client.sh
Due: none

Refactor purifier
  pytradfri/VERSION
  pytradfri/const.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
Due: mypy

Remove commend
  pytradfri/device/air_purifier_control.py
Due: mypy

Change property
  pytradfri/device/air_purifier.py
Due: mypy

Add tests
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  tests/test_air_purifiers.py
Due: pytest, mypy

Fix typing
  pytradfri/device/air_purifier.py
Due: mypy

S
  tests/test_air_purifiers.py
Due: pytest

Refactor air purifier (#400)
  pytradfri/VERSION
  pytradfri/const.py
  pytradfri/device/air_purifier.py
  pytradfri/device/air_purifier_control.py
  tests/test_air_purifiers.py
Due: pytest, mypy

Improve VS Code implementation
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .vscode/settings.json
  script/setup
Due: none

Remove line
  .devcontainer/Dockerfile.dev
Due: none

Install library
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  script/bootstrap
  script/setup
Due: none

Improve VS Code implementation (#401)
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .vscode/settings.json
  script/bootstrap
  script/setup
Due: none

Expose error code
  pytradfri/api/aiocoap_api.py
Due: mypy

Change text
  pytradfri/api/aiocoap_api.py
Due: mypy

Expose error code (#403)
  pytradfri/api/aiocoap_api.py
Due: mypy

Bump to 8.0.1
  pytradfri/VERSION
Due: none

Bump to 8.0.1 (#404)
  pytradfri/VERSION
Due: none

Create example_jsonlist.py
  examples/example_jsonlist.py
Due: none

Remove vscode settings from git
  .vscode/settings.json
Due: none

Remove vscode settings from git (#411)
  .vscode/settings.json
Due: none

Fix observation err_callback typing
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/command.py
  pytradfri/resource.py
Due: mypy

Fix observation err_callback typing (#412)
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/command.py
  pytradfri/resource.py
Due: mypy

Add typing for DeviceInfo class
  pytradfri/device/__init__.py
Due: mypy

Path conditions:
  pytest: any of: tests and \.py$
  mypy: any of: ^(pytradfri)/.+\.py$ and \.py$
