Repository home-assistant-libs/pytradfri: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        name: black
        args:
          - --safe
          - --quiet
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        additional_dependencies:
          - flake8-docstrings==1.6.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        stages: [manual]
# DO NOT ACTIVATE until all files have been manually updated.
        entry: pylint
        language: system
        types: [python]
        files: ^(pytradfri|examples|tests)/.+\.py$
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        args:
          - --timeout=30
          - --cov=pytradfri
          - --cov-report=html
        stages: [push,manual]
        entry: pytest
        language: system
        types: [python]
        files: tests
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./script/run-pre-commit.sh mypy
        language: script
        types: [python]
        require_serial: true
#        files: ^(pytradfri|examples|tests)/.+\.py$
# DO NOT ADD examples/tests until files have been updated.
        files: ^(pytradfri)/.+\.py$

Enforce strict typing
  mypy.ini
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/command.py
  pytradfri/util.py
Due: mypy

Fix type hint
  pytradfri/util.py
Due: mypy

Review
  pytradfri/command.py
Due: mypy

Update pytradfri/command.py
  pytradfri/command.py
Due: mypy

Apply suggestions from code review
  pytradfri/util.py
Due: mypy

Code review
  pytradfri/api/aiocoap_api.py
Due: mypy

Update aiocoap_api.py
  pytradfri/api/aiocoap_api.py
Due: mypy

Enforce strict typing (#461)
  mypy.ini
  pytradfri/api/aiocoap_api.py
  pytradfri/api/libcoap_api.py
  pytradfri/command.py
  pytradfri/util.py
Due: mypy

Add type hints for libcoap.py
  mypy.ini
  pytradfri/api/libcoap_api.py
  tests/api/test_libcoap_api.py
Due: pytest, mypy

Fix tests
  pytradfri/api/libcoap_api.py
Due: mypy

Raise RuntimeError
  pytradfri/api/libcoap_api.py
Due: mypy

Add overload
  pytradfri/api/libcoap_api.py
Due: mypy

Fix tests
  tests/api/test_libcoap_api.py
Due: pytest

Review
  pytradfri/api/libcoap_api.py
Due: mypy

Add type hints for libcoap.py (#462)
  mypy.ini
  pytradfri/api/libcoap_api.py
  tests/api/test_libcoap_api.py
Due: pytest, mypy

Finalise adding type hints
  mypy.ini
  pytradfri/__main__.py
  tox.ini
Due: mypy

Remove type hint not needed
  pytradfri/__main__.py
Due: mypy

Put back tox.ini
  tox.ini
Due: none

Remove blank line
  tox.ini
Due: none

Revert all changes
  tox.ini
Due: none

Add type hints to __main__.py (#463)
  mypy.ini
  pytradfri/__main__.py
Due: mypy

Cleanup, mark library typed
  py.typed
  pytradfri/resource.py
Due: mypy

Remove unused code
  pytradfri/command.py
  pytradfri/smart_task.py
Due: mypy

Remove tests
  tests/test_command.py
Due: pytest

Remove test
  tests/test_smart_task.py
Due: pytest

Bump version to 10.0.0
  pytradfri/VERSION
Due: none

Revert version bump to 10.0.0
  pytradfri/VERSION
Due: none

Add checks to pre-commit
  .pre-commit-config.yaml
Due: none

Bump version
  .pre-commit-config.yaml
Due: none

Add package data
  setup.py
Due: none

Fixes
  pytradfri/resource.py
Due: mypy

Remove merge
  pytradfri/command.py
Due: mypy

Add checks to pre-commit (#467)
  .pre-commit-config.yaml
Due: none

Move file
  py.typed
  pytradfri/py.typed
Due: none

Make ApiResourceResponse mandatory and mark library as typed (#464)
  pytradfri/py.typed
  pytradfri/resource.py
  setup.py
Due: mypy

Remove unused code (#465)
  pytradfri/command.py
  pytradfri/smart_task.py
  tests/test_command.py
  tests/test_smart_task.py
Due: pytest, mypy

Bump version to 10.0.0 (#466)
  pytradfri/VERSION
Due: none

Hide dependencies in release-drafter
  .github/release-drafter.yml
Due: none

Hide dependencies in release-drafter (#470)
  .github/release-drafter.yml
Due: none
